#parceiros {
    border-top: 5px solid var(--corPrincipal);
    border-bottom: 5px solid var(--corPrincipal);
    margin-bottom: 18px;
    padding: 10px 0;
    overflow: hidden;

    .container {
        overflow: hidden;
        display: flex !important;
        justify-content: center;

        .swiper-parceiros {
            width: 100%; // Para que o carrossel ocupe a largura total
            display: flex !important;

            #wrapper-parceiros {
                display: flex !important;
            }

            .card {
                width: 190px !important;
                height: 80px !important;
                background-size: contain; // Ajusta a imagem para caber dentro do card sem distorções
                background-position: center;
                background-repeat: no-repeat; // Evita repetição da imagem
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-pagination {
                position: absolute;
                bottom: 10px; // Ajusta a posição da paginação, caso necessário
                text-align: center;
                width: 100%;
            }
        }
    }
}
